<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn href="https://github.com/vuetifyjs/vuetify/releases/latest" target="_blank" text>
        <span class="mr-2">Latest Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content>
      <Frontpage v-bind:categories="categories" />
    </v-content>
  </v-app>
</template>

<script>
import Frontpage from "./components/Frontpage";

export default {
  name: "App",

  components: {
    Frontpage
  },
  data() {
    return {
      categories: [
        {
          name: "categoryOne",
          votables: [
            {
              title: "votableOne",
              date: "tomorrow",
              id: 1,
              status: "closed",
              submitters: [
                {
                  name: "frenk",
                  id: 1
                },
                {
                  name: "henk",
                  id: 2
                }
              ]
            },
            {
              title: "votableTwo",
              date: "yesterday",
              id: 2,
              status: "open",
              submitters: [
                {
                  name: "henkie",
                  id: 3
                },
                {
                  name: "frenkie",
                  id: 4
                }
              ]
            }
          ]
        }
      ]
    };
  }
};
</script>
