<template>
  <div id="category">
    <v-container v-scroll="callback">
      <v-row dense>
        <v-col cols="12" v-for="votable in votables" :key="votable.id">
          <v-card>
            <v-card-text>
              <p class="small-text">{{votable.date}}</p>
              <p>{{votable.title}}</p>
              <p>
                submitted by:
                <a v-for="submitter in votable.submitters" :key="submitter.id">{{submitter.name}}</a>
              </p>
              <p>{{votable.status}}</p>
            </v-card-text>
            <v-card-actions>
              <v-btn text color="deep-purple accent-4">more</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  name: "CategorySmall",
  props: {
    submitters: [],
    id: String,
    votables: []
  }
};
</script>
<style scoped>
</style>