<template>
    <div id="categoryList">
        <v-expansion-panels :multiple="true">
            <v-expansion-panel v-for="category in categories" :key="category.id">
                <v-expansion-panel-header>
                    {{category.name}}
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <CategorySmall v-bind:votables="category.votables" 
                        v-bind:date="category.date" 
                        v-bind:submitters="category.submitters">
                    </CategorySmall>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </div>
</template>
<script>
import CategorySmall from "./CategorySmall"
export default {
    name: "CategoryList",
    components : {
        CategorySmall
    },
    props : {
        categories : []
    }
}
</script>
<style scoped>

</style>