<template>
    <div id="frontpage">
        <CategoryList v-bind:categories="categories"/>

    </div>
</template>
<script>
import CategoryList from "./CategoryList"
export default {
    name : 'FrontPage',
    components: {
        CategoryList
    },
    props: {
        categories : []
    }
}
</script>
<style scoped>

</style>