<template>
    <div id="votable">
        
    </div>
</template>
<script>
export default {
    name:"votable",
    props: {
        id : String,
        name : String,
        hasPassed : Boolean
    }
}
</script>
<style scoped>

</style>